.container {
    position: relative;

    .imageContainer {
        position: relative;

        .mainLogo {
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);
        }

        .backgroundHeaderImage {
            height: 300px;
            max-width: 100%;
            object-fit: cover;
        }
    }

    .tableContainer {
        background-color: #1c1d1e;
        color: #6b717d;
        padding: 2rem;
        position: absolute;
        left: 0;
        right: 0;
        top: 13rem;
        border-radius: 20px;
        height: 700px;
        width: 88%;
        margin: 0 auto;

        @media (max-width: 840px) {
            width: unset;
            border-radius: unset;
        }

        .tableContainerHeader {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1rem;
            align-items: center;

            @media (max-width: 410px) {
                flex-direction: column;
                gap: 1rem;
                justify-content: start;
                align-items: start;
            }

            .results {
                display: flex;
                align-items: start;
                justify-content: start;

                @media (max-width: 520px) {
                    font-size: 0.9rem;
                }
            }

            .searchBar {
                display: flex;

                .searchBarIcon {
                    background-color: #282c31;
                    padding: 0px 5px;
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                }

                #searchBarInput {
                    width: 270px;
                    height: 40px;
                    border-radius: 12px;
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    border: none;
                    background-color: #282c31;

                    @media (max-width: 530px) {
                        width: 40vw;
                    }

                    @media (max-width: 410px) {
                        width: 65vw;
                    }

                }
            }

        }

        .tableCountries {
            position: relative;
            width: 100%;

            .tableContainerCountries {
                display: flex;
                max-height: 670px;
                overflow: auto;
                overflow-x: hidden;
                max-width: 62vw;

                @media (max-width: 840px) {
                    max-width: 100%;
                    max-height: 275px;
                }

                @media (max-width: 496px) {
                    max-height: 240px;
                }

                @media (max-width: 391px) {
                    max-height: 200px;
                }

                .tableHeaders {
                    display: flex;
                    flex-direction: row;
                    text-align: start;
                    position: sticky;
                    top: 0;
                    background-color: #1c1d1e;


                    div {
                        text-align: start;
                        padding: 30px 22px;
                    }

                    .nameWidth {
                        width: 200px;
                    }

                    .populationWidth {
                        width: 90px;
                    }

                    .areaWidth {
                        width: 100px;
                    }

                    .regionWidth {
                        width: 50px;
                    }

                }

                .tableBody {
                    display: flex;
                    flex-direction: row;
                    text-align: start;

                    div {
                        padding: 10px 20px;
                        color: white;
                    }

                    .flagImage {
                        width: 40px;
                        height: 30px;
                        border-radius: 4px;
                        object-fit: cover;
                    }

                    .nameWidth {
                        width: 200px;
                    }

                    .populationWidth {
                        width: 100px;
                    }

                    .areaWidth {
                        width: 100px;
                    }

                    .regionWidth {
                        width: 50px;
                    }

                }
            }

            .loader {
                position: absolute;
                top: 50%;
                right: 50%;
            }
        }

        .tableBottomContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media (max-width: 840px) {
                flex-direction: column;
            }

            .filtersContainer {
                display: flex;
                flex-direction: column;
                text-align: start;
                justify-content: start;
                padding-top: 30px;
                width: auto;

                @media (max-width: 840px) {
                    padding-bottom: 30px;
                }

                .selectFilterContainer {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 2rem;

                    label {
                        font-size: 0.8rem;
                        margin-bottom: 0.5rem;
                    }

                    select {
                        width: 250px;
                        height: 40px;
                        border-radius: 10px;
                        padding: 0px 12px;

                        @media (max-width: 530px) {
                            width: 45vw;
                        }
    
                        @media (max-width: 390px) {
                            width: 65vw;
                        }
                    }
                }

                .groupButtonContainer {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 2rem;

                    label {
                        font-size: 0.8rem;
                        margin-bottom: 0.5rem;
                    }

                    .groupButtonButtonsContainer {
                        button {
                            margin: 5px;
                            background-color: #1c1d1e;
                            font-size: 0.8rem;
                        }
                    }
                }

                .statusFiltarContainer {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 2rem;

                    label {
                        font-size: 0.8rem;
                        margin-bottom: 0.5rem;
                    }

                    .checkBoxFilterContainer {
                        display: flex;
                        flex-direction: column;

                        label {
                            font-size: 0.8rem;
                            color: white;
                        }

                        .checkBoxFilterContainerInput {
                            display: flex;
                            flex-direction: row;
                            gap: 1rem;

                            label {
                                margin: 0;
                                display: flex;
                                align-items: center;
                            }

                            input[type="checkbox"] {
                                width: 27px;
                                height: 24px;
                            }

                        }
                    }
                }
            }
        }

    }
}