.imageContainerCountry {
    position: relative;

    .mainLogoCountry {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
    }

    .backgroundHeaderImageCountry {
        height: 300px;
        max-width: 100%;
        object-fit: cover;
    }
}

.tableContainer {
    position: relative;
    margin-bottom: 1rem;

    .flagImageCountry {
        height: 220px;
        width: 350px;
        display: block;
        object-fit: cover;
        border-radius: 1rem;
        position: absolute;
        top: -1rem;
        z-index: 10;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 440px) {
            height: 165px;
            width: 250px;
            top: -2rem;
        }
    }

    .tableCountry {
        background-color: #1B1D1F;
        color: #6b717d;
        position: absolute;
        left: 0;
        right: 0;
        top: -4rem;
        padding-top: 8.5rem;
        width: 100%;
        border-radius: unset;
        margin: unset;
        border: solid 1px #282B30;

        @media (min-width: 900px) {
            border-radius: 15px;
            width: 60%;
            margin: 0 auto;
        }

        @media (min-width: 441px) {
            padding-top: 10rem;
        }


        .nameContainerCountry {

            margin-bottom: 2rem;
            margin-top: 1rem;

            @media (max-width: 441px) {
                margin-top: 0;
            }

            div {
                color: #D2D5DA;

                &:first-child {
                    font-size: 2rem;
                }
            }
        }

        .populationAreaContainerCountry {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            @media (max-width: 510px) {
                gap: unset;
                flex-direction: column;
            }

            div {
                background-color: #282c31;
                border-radius: 10px;
                display: flex;
                align-items: center;
                gap: 1rem;
                padding: 0.3rem 1rem;
                color: #D2D5DA;
                margin-bottom: 3rem;

                p {
                    border-right: solid 1px #1B1D1F;
                    margin: 0;
                    padding: 0.6rem 0rem;
                    padding-right: 1rem;
                }
            }
        }

        .listInfoCountry {
            div {
                border-top: solid 1px #282c31;
                padding: 0.7rem 1.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    color: #D2D5DA;
                    text-align: end;
                }
            }

            .neighbouringCountriesTitle {
                margin-top: 1rem;
                border-top: none;
            }

            .lastListInfoCountry {
                border-bottom: solid 1px #282c31;
            }

            .neighborsContainer {
                align-items: start;
                justify-content: start;
                padding: 0;
                border-top: unset;
                padding: 0rem 1rem;
                padding-bottom: 1rem;
                flex-wrap: wrap;

                @media (max-width: 522px) {
                    justify-content: center;
                    align-items: center;
                }

                div {
                    border: unset;
                }

                .neighborsFlagName {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    align-items: start;

                    div {
                        padding: 0.7rem;
                        color: #D2D5DA;
                    }

                    @media (max-width: 630px) {
                        justify-content: center;
                        align-items: center;
                    }
                }

                .noNeighborsName {
                    color: #D2D5DA;
                    justify-content: start;
                    text-align: start;
                    padding-top: 0;
                    padding-left: 0.5rem;
                }

                .neighbourFlagImageCountry {
                    height: 70px;
                    max-width: 100px;
                    object-fit: cover;
                    display: block;
                    border-radius: 0.5rem;
                }
            }
        }
    }
}